{#
/**
 * @file
 * Default theme implementation of a facet result item for custom widget.
 *
 * Available variables:
 * - facet: The facet instance.
 * - widget: The widget instance.
 * - facet_source: The facet instance.
 * - value: The item value.
 * - label: The item label.
 * - show_count: If this item shows count.
 * - count: The amount of results.
 * - depth: The item depth.
 *
 * @ingroup themeable
 */
#}
{{- label }}{% if show_count %} ({{ count }}){% endif -%}
